h1 {
  color: #ffad1d;
  text-align: center;
  margin-bottom: 2rem;
}

button {
  display: flex;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  font-size: 1rem;
  border-style: none;
  border-radius: 8px;
  background-color: #ffad1d;
  cursor: pointer;
}

input {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  background-color: #191919;
  border-radius: 8px;
  border-style: none;
  border: 1px solid #ffad1d;
  color: rgb(220, 220, 220);
}

p {
  text-align: center;
  color: #ffad1d;
}

.registration-login-links {
  display: table;
  margin: 0.5rem auto;
  color: #ffad1d;
  font-size: 1rem;
  text-decoration: none;
}

.registration-login-links:hover {
  text-decoration: underline;
}