header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main {
  margin: 3rem 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#logo-top-left {
  margin-left: 1rem;
}

.dashboard-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dashboard-heading {
  text-align: center;
  color: #bdbdbd;
  font-size: 2rem;
}

.main-container-heading {
  text-align: center;
  margin: 2rem;
  color: #bdbdbd;
}

#logout-button {
  margin: auto;
  font-weight: bold;
}

.main-containers {
  border-radius: 6px;
  width: 40%;
  height: 1000px;
}

.main-left-container,
.main-right-container {
  display: grid;
  grid-template-rows: max-content 1fr;
  width: 100%;
  border: 1px solid #ffad1d;
}

.main-middle-container {
  border: none;
  width: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.main-container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 2rem;
}
