* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #ffad1d;
  text-align: center;
  margin-bottom: 2rem;
}

button {
  display: block;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  font-size: 1rem;
  border-style: none;
  border-radius: 8px;
  background-color: #fabf2c;
}

input {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 200px;
  height: 40px;
  font-size: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.links {
  display: block;
  text-align: center;
  color: #fabf2c;
  margin: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}
