.fugitive-card {
  height: 530px;
  border : 1px solid #ffad1d;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 150px 40px 40px 160px 80px 40px;
}

.profile-picture-container {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.fugitive-avatar {
  object-fit: cover;
}

.fugitive-name-link {
  text-decoration: none;
  color: #ffad1d;
  display: block;
  text-align: center;
}

.profile-name-container {
  display: grid;
  place-items: center;
}

.fugitive-warning {
  color: rgb(255, 50, 50);
  text-align: center;
  margin: 0 1rem;
}

.fugitive-reward-text {
  width: 25ch;
  margin: auto;
  color: #bdbdbd;
}

.fugitive-accept-job-btn {
  background-color: #ffad1d;
  font-weight: bold;
  margin: 0 auto;
}

.profile-reward-amount-text {
  color: #ffad1d;
  text-align: center;
}

.profile-btn-container,
.profile-warning-container,
.profile-reward-text-container,
.profile-reward-amount-text,
.job-accepted-image-container,
.job-accepted-data-container {
  display: grid;
  place-items: center;
}

.job-accepted-container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  margin: 0 1rem;
  border-top: 1px solid #ffad1d;
}

.job-accepted-data-container {
  place-items: start;
  align-items: center;
}

.name-job-accepted-completed {
  color: #bdbdbd;
  margin-left: 1rem;
  text-decoration: none;
}

.name-job-completed {
  color: #bdbdbd;
  text-decoration: none;
}

.done-btn {
  padding: 0.5rem 1rem;
}

.job-completed-container {
  display: flex;
  place-content: space-between;
  padding: 1rem 0;
  margin: 0 1rem;
  border-top: 1px solid #ffad1d;
}
